<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Liste des documents</title>
    <th:block th:replace="fragments/core.html :: head"></th:block>
</head>
<body>

<header th:insert="fragments/header.html :: header"></header>

<section class="bg-gray-50 dark:bg-gray-900 p-3 sm:p-5">
    <div class="mx-auto max-w-screen-xl px-4 lg:px-12">
        <!-- -->
        <div class="bg-white dark:bg-gray-800 relative shadow-md sm:rounded-lg overflow-hidden">
            <div class="flex flex-col md:flex-row items-center justify-between space-y-3 md:space-y-0 md:space-x-4 p-4">
                <div class="w-full md:w-1/2">
                    <form class="flex items-center" method="get" th:action="@{/operations}">
                        <label class="sr-only" for="simple-search">Recherche par identifiant</label>
                        <div class="relative w-full">
                            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400"
                                     fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    <path clip-rule="evenodd"
                                          d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                          fill-rule="evenodd"/>
                                </svg>
                            </div>
                            <input class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full pl-10 p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                   id="simple-search"
                                   name="searchId"
                                   placeholder="Recherche par identifiant"
                                   th:value="${searchId}"
                                   type="text">
                        </div>
                    </form>
                </div>
                <div class="w-full md:w-auto flex flex-col md:flex-row space-y-2 md:space-y-0 items-stretch md:items-center justify-end md:space-x-3 flex-shrink-0">

                    <a class="flex items-center justify-center text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800"
                       th:href="@{/documents/upload}"
                       type="button">
                        <svg aria-hidden="true" class="h-3.5 w-3.5 mr-2" fill="currentColor"
                             viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path clip-rule="evenodd"
                                  d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z"
                                  fill-rule="evenodd"/>
                        </svg>
                        Ajouter document
                    </a>
                    <div class="flex items-center space-x-3 w-full md:w-auto">
                        <button class="w-full md:w-auto flex items-center justify-center py-2 px-4 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
                                data-dropdown-toggle="actionsDropdown"
                                id="actionsDropdownButton"
                                type="button">
                            <svg aria-hidden="true" class="-ml-1 mr-1.5 w-5 h-5" fill="currentColor"
                                 viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path clip-rule="evenodd"
                                      d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                      fill-rule="evenodd"/>
                            </svg>
                            Actions
                        </button>
                        <div class="hidden z-10 w-44 bg-white rounded divide-y divide-gray-100 shadow"
                             id="actionsDropdown">
                            <div class="py-1 hover:bg-gray-100">
                                <button class="block py-2 px-4 text-sm text-gray-700"
                                        data-modal-target="popup-delete-all-modal"
                                        data-modal-toggle="popup-delete-all-modal"
                                        type="button">
                                    Supprimer tout
                                </button>
                            </div>
                            <div class="py-1 hover:bg-gray-100">
                                <a class="block py-2 px-4 text-sm text-gray-700"
                                   th:href="@{/xxx/export}">
                                    Exporter tout
                                </a>
                            </div>
                            <div class="py-1 hover:bg-gray-100">
                                <a class="block py-2 px-4 text-sm text-gray-700"
                                   th:href="@{/documents/sync}">
                                    Synchroniser
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="overflow-x-auto">
                <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th class="px-4 py-3" scope="col">Nom</th>
                        <th class="px-4 py-3" scope="col">Date de création</th>
                        <th class="px-4 py-3" scope="col">Type</th>
                        <th class="px-4 py-3" scope="col">Client</th>
                        <th class="px-4 py-3" scope="col">Status</th>
                        <th class="px-4 py-3" scope="col">
                            <span class="sr-only">Actions</span>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="border-b dark:border-gray-700" th:each="document : ${documents}">
                        <th class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white"
                            scope="row" th:text="${document.fileName}">
                        </th>

                        <td class="px-4 py-3"
                            th:text="${#temporals.format(document.createdDate, 'dd MMMM yyyy HH:mm')}"></td>
                        <td class="px-4 py-3" th:text="${document.type}"></td>
                        <td class="px-4 py-3" th:text="${document.customer.lastName + ' ' + document.customer.firstName}"></td>
                        <td class="px-4 py-3" th:text="${document.status}"></td>
                        <td class="px-4 py-3 flex items-center justify-end">
                            <button class="inline-flex items-center p-0.5 text-sm font-medium text-center text-gray-500 hover:text-gray-800 rounded-lg focus:outline-none dark:text-gray-400 dark:hover:text-gray-100"
                                    th:attr="data-dropdown-toggle=${document.id + '-dropdown'}"
                                    th:id="${ document.id + '-dropdown-button'}"
                                    type="button">
                                <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewbox="0 0 20 20"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z"/>
                                </svg>
                            </button>

                            <div class="hidden z-10 w-44 bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600"
                                 th:id="${document.id + '-dropdown'}">
                                <ul class="py-1 text-sm text-gray-700 dark:text-gray-200"
                                    th:attr="aria-labelledby=${document.id + '-dropdown-button'}">
                                    <li>
                                        <a class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                                           th:href="@{'/documents/' + ${document.id}}"
                                        >Détails</a>
                                    </li>
                                    <li>

                                        <button class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                                                data-modal-target="popup-modal"
                                                data-modal-toggle="popup-modal"
                                                type="button">
                                            Supprimer
                                        </button>


                                    </li>
                                </ul>
                            </div>
                        </td>

                        <div class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"
                             id="popup-modal"
                             tabindex="-1">
                            <div class="relative p-4 w-full max-w-md max-h-full">
                                <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                                    <button class="absolute top-3 end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                                            data-modal-hide="popup-modal"
                                            type="button">
                                        <svg aria-hidden="true" class="w-3 h-3" fill="none"
                                             viewBox="0 0 14 14"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
                                                  stroke="currentColor" stroke-linecap="round"
                                                  stroke-linejoin="round"
                                                  stroke-width="2"/>
                                        </svg>
                                        <span class="sr-only">Fermer</span>
                                    </button>
                                    <div class="p-3 md:p-3 text-center">
                                        <svg aria-hidden="true"
                                             class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200"
                                             fill="none" viewBox="0 0 20 20"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                                                  stroke="currentColor"
                                                  stroke-linecap="round" stroke-linejoin="round"
                                                  stroke-width="2"/>
                                        </svg>
                                        <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">
                                            Êtes-vous sûr de vouloir
                                            supprimer
                                            le document ?</h3>

                                        <form action="#" class="p-0 inline" th:action="@{/document/delete}"
                                              th:method="post">
                                            <input name="id" th:value="${document.id}" type="hidden">
                                            <button class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center"
                                                    data-modal-hide="popup-modal"
                                                    type="submit">Oui
                                            </button>
                                        </form>
                                        <button class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
                                                data-modal-hide="popup-modal"
                                                type="button">
                                            Non
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </tr>

                    </tbody>
                </table>
            </div>
            <nav aria-label="Table navigation"
                 class="flex flex-col md:flex-row justify-between items-start md:items-center space-y-3 md:space-y-0 p-4">
                <span class="text-sm font-normal text-gray-500 dark:text-gray-400">
                    Résultats
                    <span class="font-semibold text-gray-900 dark:text-white">1-10</span>
                    sur
                    <span class="font-semibold text-gray-900 dark:text-white">XX</span>
                </span>
                <ul class="inline-flex items-stretch -space-x-px">
                    <li>
                        <a class="flex items-center justify-center h-full py-1.5 px-3 ml-0 text-gray-500 bg-white rounded-l-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                           href="#">
                            <span class="sr-only">Previous</span>
                            <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewbox="0 0 20 20"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path clip-rule="evenodd"
                                      d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                                      fill-rule="evenodd"/>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a class="flex items-center justify-center text-sm py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                           href="#">1</a>
                    </li>
                    <li>
                        <a class="flex items-center justify-center text-sm py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                           href="#">2</a>
                    </li>
                    <li>
                        <a aria-current="page"
                           class="flex items-center justify-center text-sm z-10 py-2 px-3 leading-tight text-primary-600 bg-primary-50 border border-primary-300 hover:bg-primary-100 hover:text-primary-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white"
                           href="#">3</a>
                    </li>
                    <li>
                        <a class="flex items-center justify-center text-sm py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                           href="#">...</a>
                    </li>
                    <li>
                        <a class="flex items-center justify-center text-sm py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                           href="#">100</a>
                    </li>
                    <li>
                        <a class="flex items-center justify-center h-full py-1.5 px-3 leading-tight text-gray-500 bg-white rounded-r-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                           href="#">
                            <span class="sr-only">Next</span>
                            <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewbox="0 0 20 20"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path clip-rule="evenodd"
                                      d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                      fill-rule="evenodd"/>
                            </svg>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>

<div class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"
     id="popup-delete-all-modal"
     tabindex="-1">
    <div class="relative p-4 w-full max-w-md max-h-full">
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <button class="absolute top-3 end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                    data-modal-hide="popup-delete-all-modal"
                    type="button">
                <svg aria-hidden="true" class="w-3 h-3" fill="none"
                     viewBox="0 0 14 14"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
                          stroke="currentColor" stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"/>
                </svg>
                <span class="sr-only">Fermer</span>
            </button>
            <div class="p-3 md:p-3 text-center">
                <svg aria-hidden="true"
                     class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200"
                     fill="none" viewBox="0 0 20 20"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                          stroke="currentColor"
                          stroke-linecap="round" stroke-linejoin="round"
                          stroke-width="2"/>
                </svg>
                <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">
                    Êtes-vous sûr de vouloir
                    supprimer
                    toutes les opérations ?</h3>

                <form action="#" class="p-0 inline" th:action="@{/operations/delete/all}"
                      th:method="post">
                    <button class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center"
                            data-modal-hide="popup-delete-all-modal"
                            type="submit">Oui
                    </button>
                </form>
                <button class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
                        data-modal-hide="popup-delete-all-modal"
                        type="button">
                    Non
                </button>
            </div>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
</body>
</html>